<img src="../../assets/3.jpg" width="100%" height="600px">
<br>
<br>



<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
  <div class="row">
    <div class="span2">
      <img src="../../assets/IMG_20171125_090520.jpg"  alt="" class="img-rounded">
    </div>
    <div class="span4">
      <blockquote>
        <p>Prajwal Kamale</p>
        <small><cite title="Source Title">Nagpur, Maharashtra  <i class="icon-map-marker"></i></cite></small>
      </blockquote>
      <p>
        <i class="icon-envelope"></i> prajwalkamale@gmail.com <br>
        <i class="icon-globe"></i> https://www.linkedin.com/in/prajwal-kamale/ <br>
        <i class="icon-gift"></i> Feb 21, 1998
      </p>
    </div>
    <div class="span2">
      <img src="../../assets/b7d490d1-5037-4522-bec7-00fa6074f720.jpg"  alt="" class="img-rounded">
    </div>
    <div class="span4">
      <blockquote>
        <p>Harshwardhan solanki</p>
        <small><cite title="Source Title">Indore, Madhya Pradesh  <i class="icon-map-marker"></i></cite></small>
      </blockquote>
      <p>
        <i class="icon-envelope"></i> masterwayne@batman.com <br>
        <i class="icon-globe"></i> https://www.linkedin.com/in/gamerbuddy049/ <br>
        <i class="icon-gift"></i> January 30, 1998
      </p>
    </div>
  </div>
</div>
<br>
<br>


  <!--    Contact page start    -->
  <div class="container">
    <div style="text-align:center">
      <h2>Contact Us</h2>
      <p>Welcome to College Social Network, or leave us a message:</p>
    </div>
    <div class="col-md-7">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d39704.086811712055!2d-0.6288132500000001!3d51.5406305!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2suk!4v1528712448343" width="550" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
           </div>
     
           <div class="col-md-5">
      <div class="column">
        <form action="/action_page.php">
          <label for="fname">First Name</label>
          <input type="text" id="fname" name="firstname" placeholder="Your name..">
          <label for="lname">Last Name</label>
          <input type="text" id="lname" name="lastname" placeholder="Your last name..">
          <label for="country">Country</label>
          <select id="country" name="country">
              <option value="australia">Select</option>
            <option value="australia">Australia</option>
            <option value="australia">India</option>
            <option value="canada">Canada</option>
            <option value="usa">USA</option>
            <option value="australia">Germany</option>
          </select>
          <label for="subject">Subject</label>
          <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea>
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <!-- Contact page end-->
  

