
  <base href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/">
<div id="slider">
<figure>
<img src="../../assets/1.jpg" alt>
<img src="../../assets/2.jpg" alt>
<img src="../../assets/3.jpg" alt>
</figure>
</div>
  


  <!--    Contact page start    -->
<div class="container">
    <div style="text-align:center">
      <h2>Contact Us</h2>
      <p>Welcome to College Social Network, or leave us a message:</p>
    </div>
    <div class="col-md-7">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d39704.086811712055!2d-0.6288132500000001!3d51.5406305!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2suk!4v1528712448343" width="600" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
           </div>
     
           <div class="col-md-5">
      <div class="column">
        <form action="/action_page.php">
          <label for="fname">First Name</label>
          <input type="text" id="fname" name="firstname" placeholder="Your name..">
          <label for="lname">Last Name</label>
          <input type="text" id="lname" name="lastname" placeholder="Your last name..">
          <label for="country">Country</label>
          <select id="country" name="country">
              <option value="australia">Select</option>
            <option value="australia">Australia</option>
            <option value="australia">India</option>
            <option value="canada">Canada</option>
            <option value="usa">USA</option>
            <option value="australia">Germany</option>
          </select>
          <label for="subject">Subject</label>
          <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea>
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <!-- Contact page end-->
  



